/*　共通　*/

img {
  max-width: 100%;
}

p {
  font-size: 6px;
  line-height: 1.5;
}

/* メイン */

.main-Arshive {
  display: flex;
}

.main-message {
  text-align: center;
}

.main-message > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 40px 0 15px 0; 
}
.main-message > p {
  margin-bottom: 20px;
}

.Archive {
  margin: 0 10px 0 80px;
  position: relative;  
}

.New {
  margin: 0 80px 0 10px;
  position: relative;
}

.archive-mozi, .new-mozi {
  position: absolute;
  /* 画像の中央に */
  top: 50%;
  left: 50%;
  /* translateで文字分のズレを補正 */
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /* 余白により中央からのズレを防ぐ */
  margin: 0;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 15px 35px;
  white-space: nowrap;/* 改行させない */
  }

  .archive-h2, .new-h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .archive-p, .new-p {
    font-size: 14px;
  }

  .fashion-style {
    margin-top: 30px;
    position: relative;
  }

  .fashion-style > img {
    /* 写真サイズ調整 */
    width: 1600px;
    height: 520px;
    object-fit: cover;
  }

  .fashion-mozi {
    position: absolute;
    top: 25%;
    left: 50%;
     /* translateで文字分のズレを補正 */
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }

  .fashion-h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .fashion-p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .Read {
    font-size: 12px;
    border: 1px solid black;
    padding: 15px 35px ;
  }

  #Catalog {
    margin: 60px 0 30px 0;
  }

  .catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }

  .catalog-img {
    width: 500px;
  }

  .catalog-h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
   .catalog-mozi > p {
    font-size: 14px;
    width: 496px;
    max-width: 100%;
    margin: 10px;
    text-align: left;
   }

   #Antique {
    margin: 60px 0 30px 0;
   }

   .antique {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   }

   .antique-img {
    width: 500px;
   }
   .antique-mozi {
    text-align: center;
   }

   .antique-h2 {
    font-size: 24px;
    font-weight: bold;
   }

   .antique-mozi > p {
    font-size: 14px;
    width: 496px;
    max-width: 100%;
    margin: 10px;
    text-align: left;

   }

   .antique-read {
    font-size: 12px;
    border: 1px solid black;
    padding: 15px 35px ;
   }

   .Footer {
    background-color: #0d0d0d;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
   }

   .footer-title {
    display: inline-block;/* ブロック要素にする */
    color: white;
    width: 100%;
    /* 上下中央 */
    align-content:center;
   }

   .footer-img {
    width: 30%;
   }

   h3 {
    font-size: 10px;
    margin-bottom: 10px;
   }
   .title-list {
    font-size: 6px;
    line-height: 1.5;
   }

   .copy {
    font-size: 12px;
    text-align: center;
    margin: 32px 0 30px 0;
   }

   @media screen and (max-width: 896px) {

    .main-message > h2 {
      font-size: 24px;
      width: 294px;
      margin: 80px auto 23px;
    }
    .main-message > p {
      font-size: 14px;
      width: 330px;
      margin: 0 auto 35px;
    }

    .main-Arshive {
      flex-direction: column;
      row-gap: 30px;
      margin-left: 19px;
      margin-right: 19px;
    }
    .Archive {
      margin: 0 auto;
      width: 337.5px;
    }

    .New {
      margin: 0 auto;
      width: 337.5px;
    }

    .fashion-p {
      white-space: normal;
    }

    .catalog {
      flex-direction: column;
    }
    .catalog-img {
      width: 337.5px;
    }
    .catalog-mozi {
      width: 331px;
      margin-top: 60px;
    }
    .catalog-h2 {
      margin-bottom: 43px;
    }

    .antique {
      flex-direction: column;
   }
   .antique-img {
    width: 337.5px;
   }
   .antique-mozi {
    width: 331px;
    margin-bottom: 60px;
   }
   .antique-h2 {
    margin-bottom: 43px;
   }
   .antique-a {
    margin-top: 52px;
   }

   .Footer {
    flex-direction: column;
    width: 373px;
    height: 456px;
    margin: 0 auto;
   }
   .footer-title {
    margin: 0 auto;
    text-align: center;
   }
   .footer-img {
    width: 120px;
    height: 40px;
    margin-bottom: 36px;
   }
   h3 {
    font-size: 16px;
    text-align: left;
    margin-left: 21px;
   }
   .title-list {
    font-size: 12px;
    line-height: 2;
    text-align: left;
    margin-left: 21px;
    margin-bottom: 35px;
   }
   .footer-title > p {
    font-size: 12px;
    width: 331px;
    line-height: 2;
    text-align: left;
    margin-left: 21px;
    margin-bottom: 35px;
   }

  }