/* PC、スマホ共通スタイル */
body {
  font-family:  "Source Sans Pro", "Hiragino Kaku Gothic ProN", Arial, sans-serif";
}
img {
  max-width: 100%;
  height: auto;
}

/*================
 PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {
  /* 横幅設定 */
  body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }

  /* ヘッダー */
  header {
    text-align: center;
    padding: 20px;
  }


  /* ナビゲーションのレイアウト */
  #menu-pc {
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    font-weight: bold;
    padding: 15px;
    max-width: 598px;
    margin: 0 auto;
    align-items: center;
  }
  .link1 {
    border: 1px solid black;
    padding: 10px;
  }
  .menu-li {
    display: flex;
    gap: 20px;
  }

  .menu-li > a {
    font-size: 34px;
  }

  /* メインビジュアル */
  .about-list {
    list-style: disc;
    list-style-position: inside;
    padding-left: 20px;
    font-size: 18px;
  }
  #about {
    padding: 40px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 0 0 20px 0 ;
    font-weight: bold;
  }
  .about-h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px 0;
  }

  .about-kazuki {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kazuki-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 40px;
  }

  #works > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 573px;
    margin: 0 auto;
    align-items: center;
  }

  .works-box {
    width: 179px;
    height: 134px;
    margin-bottom: 80px;
    position: relative;
  }

  .works-p {
    margin-top: 20px;
  }

  footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

/*================
 スマホ用のスタイル 
=================*/
@media screen and (max-width: 767px) {
body {
  min-width: 375px;
}

#menu-pc {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  max-width: 727px;
  margin: 0 auto;
  align-items: center;
}
.link1 {
  border: 1px solid black;
  padding: 10px;
}
.menu-li {
  display: flex;
  gap: 20px;
}

 /* メインビジュアル */
 .about-list {
  list-style: disc;
  list-style-position: inside;
  padding-left: 20px;
  font-size: 18px;
}
#about {
  padding: 40px;
}

h2 {
  text-align: center;
  font-size: 18px;
  margin: 0 0 20px 0 ;
  font-weight: bold;
}
.about-h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.about-list {
  font-size: 12px;
  line-height: 15px;
}
.about-kazuki {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kazuki-image {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 141px;
  max-height: 142px;
  margin-right: 20px;
}

#works > div {
  display: block;
  text-align: center;
}

.works-box > img{
  width: 90%;
  height: auto;
  padding: 0 15px 10px;
}
.works-p {
  font-size: 12px;
  margin-bottom: 30px;
}

footer {
  font-size: 10px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}



}
